<div class="footer">
<div class="container">
 <script type="text/javascript" src="/js/jquery.js"></script>
 <script type="text/javascript" src="/js/lib/prettify/src/prettify.js"></script>

<p>
powered by node.js 2012
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F69befd77b5ad4ebadb3033268c3cbd6a' type='text/javascript'%3E%3C/script%3E"));
</script>
</p>
</div>
</div>
