
<div class="header">
<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	  	<div class="container">
		<a class="logo brand" href="/">N<em>.</em>Blog</a>
	              <ul class="nav">
		      <li class=""><a href="/">Home</a></li>
		      <li class=""><a href="/category/Node.js">Node.js</a></li>
		      <li class=""><a href="/category/Javascript">Javascript</a></li>
		      <li class=""><a href="/category/jQuery">jQuery</a></li>
		      <li class=""><a href="/category/HTML5">HTML5</a></li>
		      <li class=""><a href="/category/CSS3">CSS3</a></li>
		</ul>
		</div>
	  </div>
</div> 
</div>

